# Backend & Frontend (Node.js)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
dist

# Machine Learning (Python)
__pycache__/
*.pyc
*.pyo
venv/
env/
*.ipynb_checkpoints

# Editor & Sistem
.DS_Store
.idea/
.vscode/
*.log
